{% extends 'layout/app.html' %}

{% block title %} Skeleton {% endblock %}

{% load i18n %}

{% load static %}

{% block content %}
<div class="dm-page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-main">
                    <!--                    <h4 class="text-capitalize breadcrumb-title">Створення викладача</h4>-->
                    <div class="breadcrumb-action justify-content-center flex-wrap">

                        {% if alerts %}
                        {% for alert in alerts %}
                        <div class="alert-big alert alert-danger  alert-dismissible fade show " role="alert">
                            <div class="alert-content">
                                <h6 class="alert-heading">{{alert.title}}</h6>
                                {% for field in form.visible_fields %}
                                <div>
                                    {% if field.errors %}
                                    <ul class="errorlist">
                                        {% for error in field.errors %}
                                        <li>{{ field.label }} - {{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                                {% endfor %}
                                <button type="button" class="btn-close text-capitalize" data-bs-dismiss="alert"
                                        aria-label="Close">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="svg replaced-svg">
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="col-lg-12">
                            <div class="card card-Vertical card-default card-md mb-4">
                                <div class="card-header">
                                    <h6>Створення викладача</h6>
                                </div>
                                <div class="card-body py-md-30">
                                    <form action="{% url 'logika_teachers:create-teacher' %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6 mb-25">
                                                <input type="text"
                                                       class="form-control ih-medium ip-gray radius-xs b-light px-15"
                                                       placeholder="Ім'я"
                                                       id="first_name"
                                                       name="first_name"
                                                       required
                                                >
                                            </div>
                                            <div class="col-md-6 mb-25">
                                                <input type="text"
                                                       class="form-control ih-medium ip-gray radius-xs b-light px-15"
                                                       placeholder="Прізвище"
                                                       id="last_name"
                                                       name="last_name"
                                                       required
                                                >
                                            </div>
                                            <div class="col-md-6 mb-25">
                                                <input type="email"
                                                       class="form-control ih-medium ip-gray radius-xs b-light px-15"
                                                       placeholder="Електронна пошта"
                                                       id="email"
                                                       name="email"
                                                       required
                                                >
                                            </div>
                                            <div class="col-md-6 mb-25">
                                                <input type="text"
                                                       class="form-control ih-medium ip-gray radius-xs b-light px-15"
                                                       placeholder="Номер телефону (380...)"
                                                       id="phone_number"
                                                       name="phone_number"
                                                       required
                                                >
                                            </div>
                                            <div class="col-md-6 mb-25">
                                                <input type="text"
                                                       class="form-control ih-medium ip-gray radius-xs b-light px-15"
                                                       placeholder="ID в LMS"
                                                       id="lms_id"
                                                       name="lms_id"
                                                       required
                                                >
                                            </div>
                                            <div class="col-md-6 mb-25">
                                                <input type="text"
                                                       class="form-control ih-medium ip-gray radius-xs b-light px-15"
                                                       placeholder="Телеграм"
                                                       id="telegram_nickname"
                                                       name="telegram_nickname"
                                                       required
                                                >
                                            </div>
                                            <div class="col-md-6 mb-25">
                                                <input type="text"
                                                       class="form-control ih-medium ip-gray radius-xs b-light px-15"
                                                       placeholder="ID в 1С (через кому)"
                                                       id="one_c_ids"
                                                       name="one_c_ids"
                                                       required
                                                >
                                            </div>
                                            <div class="col-md-6">
                                                <div class="layout-button mt-0">
                                                    <input type="submit"
                                                           class="btn btn-primary btn-default btn-squared px-30"
                                                           value="Створити">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}