{% extends 'layout/app.html' %}

{% block title %} Skeleton {% endblock %}

{% load i18n %}

{% load static %}

{% block content %}
<div class="dm-page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-main">
                    <!--                    <h4 class="text-capitalize breadcrumb-title">Форма ЗЗ</h4>-->
                    <div class="breadcrumb-action justify-content-center flex-wrap">

                    </div>
                </div>
                <div class="col">
                    {% if alerts %}
                    {% for alert in alerts %}

                    <div class="alert-big alert alert-danger  alert-dismissible fade show " role="alert">
                        <div class="alert-content">
                            <h6 class="alert-heading">{{alert.title}}</h6>

                            {% for field in form.visible_fields %}
                            <div>
                                {% if field.errors %}
                                <ul class="errorlist">
                                    {% for error in field.errors %}
                                    <li>{{ field.label }} - {{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                            {% endfor %}

<!--                            <p> {{alert.content}} </p>-->
<!--                            <ul class="errorlist">-->
<!--                                {% for error, message in form.errors.items %}-->
<!--                                <p>{{error}} - {{message}}</p>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
                            <button type="button" class="btn-close text-capitalize" data-bs-dismiss="alert"
                                    aria-label="Close">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="svg replaced-svg">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="col-lg-6">
                        <div class="card card-horizontal card-default card-md mb-4">
                            <div class="card-header">
                                <h6>Форма ЗЗ</h6>
                            </div>
                            <div class="card-body py-md-30">
                                <div class="horizontal-form">
                                    <form action="{% url 'logika_teachers:teacher-feedback' teacher_id tutor_id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <div class="form-group row mb-25">
                                            <label for="lesson_mark"
                                                   class="il-gray fs-14 fw-500 align-center mb-10">Оцніть уроки від 1 до
                                                10 <span class="color-danger">(*обов'язково)</span></label>
                                            <input type="number"
                                                   class="form-control ih-medium ip-light radius-xs b-light px-15"
                                                   id="lesson_mark" placeholder="10" name="lesson_mark">


                                        </div>

                                        <div class="form-group form-element-textarea">
                                            <label for="mistakes"
                                                   class="il-gray fs-14 fw-500 align-center mb-10"> Які основні помилки
                                                були допущені під час уроків? <span class="color-danger">(*обов'язково)</span></label>
                                            <textarea class="form-control" id="mistakes"
                                                      rows="3" name="mistakes"></textarea>
                                        </div>

                                        <div class="form-group row mb-25">
                                            <div class="form-group select-px-15 tagSelect-rtl">
                                                <label for="select-tag2"
                                                       class="il-gray fs-14 fw-500 align-center mb-10">Основні проблеми
                                                    груп <span class="color-danger">(*обов'язково)</span></label>
                                                <div class="dm-select ">
                                                    <select name="problems" id="select-tag2"
                                                            class="form-control select2-hidden-accessible" multiple=""
                                                            tabindex="-1" aria-hidden="true">
                                                        <option value="Не маєте авторитету перед учнями">Не маєте
                                                            авторитету перед учнями
                                                        </option>
                                                        <option value="Учні не товаришують один з одним">Учні не
                                                            товаришують один з одним
                                                        </option>
                                                        <option value="Не виконують ДЗ">Не виконують ДЗ</option>
                                                        <option value="Не активні учні">Не активні учні</option>
                                                        <option value="Занадто активні учні">Занадто активні учні
                                                        </option>
                                                        <option value="Учні не слухаються">Учні не слухаються</option>
                                                        <option value="В моїх групах немає проблем">В моїх групах немає
                                                            проблем
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-element-textarea">
                                            <label for="additional_problems"
                                                   class="il-gray fs-14 fw-500 align-center mb-10"> Додаткові
                                                проблеми </label>
                                            <textarea class="form-control" id="additional_problems"
                                                      rows="3" name="additional_problems"></textarea>
                                        </div>


                                        <div class="form-group form-element-textarea">
                                            <label for="predicted_churn"
                                                   class="il-gray fs-14 fw-500 align-center mb-10">Передбачувані відвали
                                                (впишіть ID учня) та причину <span class="color-danger">(*обов'язково)</span></label>
                                            <textarea class="form-control" id="predicted_churn"
                                                      rows="3" name="predicted_churn"></textarea>
                                        </div>
                                        <div class="form-group form-element-textarea">
                                            <label for="technical_problems"
                                                   class="il-gray fs-14 fw-500 align-center mb-10">Пропишіть технічні
                                                проблеми на локації/платформі/в онлайні з якими ви стикнулись на
                                                уроці</label>
                                            <textarea class="form-control" id="technical_problems"
                                                      rows="3" name="technical_problems"></textarea>
                                        </div>
                                        <div class="form-group row mb-25">
                                            <label for="km_work_mark"
                                                   class="il-gray fs-14 fw-500 align-center mb-10">Оцніть роботу КМ від 1 до
                                                10 <span class="color-danger">(*обов'язково)</span></label>
                                            <input type="number"
                                                   class="form-control ih-medium ip-light radius-xs b-light px-15"
                                                   id="km_work_mark" placeholder="10" name="km_work_mark">


                                        </div>
                                        <div class="form-group form-element-textarea">
                                            <label for="km_work_comment"
                                                   class="il-gray fs-14 fw-500 align-center mb-10">Коментар по роботі з КМ</label>
                                            <textarea class="form-control" id="km_work_comment"
                                                      rows="3" name="km_work_comment"></textarea>
                                        </div>
                                        <div class="form-group row mb-25">
                                            <label for="tutor_work_mark"
                                                   class="il-gray fs-14 fw-500 align-center mb-10">Оцніть роботу тьютора від 1 до
                                                10 <span class="color-danger">(*обов'язково)</span></label>
                                            <input type="number"
                                                   class="form-control ih-medium ip-light radius-xs b-light px-15"
                                                   id="tutor_work_mark" placeholder="10" name="tutor_work_mark">


                                        </div>
                                        <div class="form-group form-element-textarea">
                                            <label for="tutor_work_comment"
                                                   class="il-gray fs-14 fw-500 align-center mb-10">Коментар по роботі з
                                                тьютором</label>
                                            <textarea class="form-control" id="tutor_work_comment"
                                                      rows="3" name="tutor_work_comment"></textarea>
                                        </div>

                                        <div class="form-group row mb-0">
                                            <div class="layout-button mt-25">
                                                <button type="submit"
                                                        class="btn btn-primary btn-default btn-squared px-30">Відправити
                                                </button>
                                            </div>
                                        </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</div>
<script>
    const sliderInput = document.getElementById('sliderInput');
    const sliderValueDisplay = document.getElementById('sliderValueDisplay');

    sliderInput.addEventListener('input', function () {
        sliderValueDisplay.innerText = sliderInput.value;
    });
</script>
{% endblock %}
