{% extends 'layout/app.html' %}

{% block title %} Skeleton {% endblock %}

{% load i18n %}

{% load static %}

{% block content %}
<div class="dm-page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">{% translate "ui-skeleton" %}</h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="las la-home"></i>{% translate
                                    "ui-menu-title" %}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{% translate "ui-skeleton" %}
                                </li>
                            </ol>
                        </nav>
                        {% if created %}
                        <p>
                          Логін: {{username}} <br>
                          Пароль: {{password}}
                        </p>
                        {% else %}
                        <p>
                            Користувача вже було створено раніше. Вас додано до його списку тьюторів.<br>
                            Логін: {{username}}
                        </p>
                        {% endif %}
                        <a href="/">Перейти до списку викладачів</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}