{% extends 'layout/app.html' %}

{% block title %} Profile {% endblock %}

{% load i18n %}

{% load static %}

{% block content %}
<script src="https://cdn.tiny.cloud/1/i0p26d4mduv44rp7twlxdckeamfq5tpvszcn732jmv6mungy/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
<div class="container-fluid">
    <div class="profile-content mb-50">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">Профіль викладача</h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="las la-home"></i>Профіль викладача</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{teacher_profile.user.get_full_name}}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="cos-lg-3 col-md-4  ">
                <aside class="profile-sider">
                    <div class="card mb-25">
                        <div class="card-body text-center pt-sm-30 pb-sm-0  px-25 pb-0">
                            <div class="account-profile">
                                <div class="ap-img w-100 d-flex justify-content-center">
                                    <img class="ap-img__main rounded-circle mb-3  wh-120 d-flex bg-opacity-primary"
                                         src="{% static 'img/author/profile.png' %}" alt="profile">
                                </div>
                                <div class="ap-nameAddress pb-3 pt-1">
                                    <h5 class="ap-nameAddress__title">{{teacher_profile.user.get_full_name}}</h5>
                                    <!--                                    <p class="ap-nameAddress__subTitle fs-14 m-0">Тьютор: </p>-->
                                    <p class="ap-nameAddress__subTitle fs-14 m-0">
                                        <img src="{% static 'img/svg/map-pin.svg' %}" alt="map-pin" class="svg">---
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-25">
                        <div class="user-info border-bottom">
                            <div class="card-header border-bottom-0 pt-sm-25 pb-sm-0  px-md-25 px-3">
                                <div class="profile-header-title">
                                    Контактна інформація
                                </div>
                            </div>
                            <div class="card-body pt-md-1 pt-0">
                                <div class="user-content-info">
                                    <p class="user-content-info__item">
                                        <img class="svg" src="{% static 'img/svg/mail.svg' %}" alt="mail"></button>
                                        {{teacher_profile.user.email}}
                                    </p>
                                    <p class="user-content-info__item">
                                        <img src="{% static 'img/svg/phone.svg' %}" alt="phone" class="svg">{{teacher_profile.phone_number}}
                                    </p>
                                    <p class="user-content-info__item mb-0">
                                        <img src="{% static 'img/svg/globe.svg' %}" alt="globe" class="svg">{{teacher_profile.telegram_nickaname}}
                                    </p>
                                </div>
                                <br>
                        <a href="{% url 'logika_teachers:teacher-performance' teacher_profile.id %}">
                            <button class="btn btn-white btn-default btn-squared btn-shadow-white ">
                                <i class="fas fa-chart-line"></i>
                                Підрахунок успішності
                            </button>
                        </a>
                        <br>
                                <a href="{% url 'logika_teachers:teacher-conversion-regional' teacher_profile.id tutor_profile.id %}">
                            <button class="btn btn-white btn-default btn-squared btn-shadow-white ">
                                <i class="fas fa-chart-line"></i>
                                Підрахунок конверсії
                            </button>
                        </a>
                        <br>
                        <a href="{% url 'logika_teachers:refresh-credentials' teacher_profile.user.id %}">
                            <button class="btn btn-white btn-default btn-squared btn-shadow-white ">
                                <i class="uil uil-refresh"></i>
                                Згенерувати нові логін, пароль
                            </button>
                        </a>
                        <br>
                        <a href="{% url 'logika_teachers:edit-teacher-profile' teacher_profile.id %}">
                            <button class="btn btn-white btn-default btn-squared btn-shadow-white ">
                                <i class="fas fa-edit"></i>
                                Редагувати профіль викладача
                            </button>
                        </a>
                        <br>

                            </div>
                        </div>

                        <div class="user-skils border-bottom">
                            <div class="card-header border-bottom-0 pt-sm-25 pb-sm-0  px-md-25 px-3">
                                <div class="profile-header-title">
                                    Курси
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col">
                <div class="ap-tab ap-tab-header">
                    <div class="ap-tab-wrapper">
                        <ul class="nav px-25 ap-tab-main" id="ap-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="ap-overview-tab" data-bs-toggle="pill"
                                   href="#ap-overview" role="tab" aria-controls="ap-overview" aria-selected="true">Статистика</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="activity-tab" data-bs-toggle="pill" href="#activity" role="tab"
                                   aria-controls="activity" aria-selected="false">Коментарі</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="lesson-comments-tab" data-bs-toggle="pill"
                                   href="#lesson-comments" role="tab"
                                   aria-controls="activity" aria-selected="false">Коментарі по уроку</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="call-comments-tab" data-bs-toggle="pill" href="#call-comments"
                                   role="tab"
                                   aria-controls="activity" aria-selected="false">Коментарі по дзвінку</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="form-comments-tab" data-bs-toggle="pill" href="#form-comments"
                                   role="tab"
                                   aria-controls="activity" aria-selected="false">Форма ЗЗ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content mt-25" id="ap-tabContent">
                    {% include 'logika_teachers/teacher_profile_tabs/ap_overview_tab.html' %}
                    {% include 'logika_teachers/teacher_profile_tabs/activity_tab.html' %}
                    {% include 'logika_teachers/teacher_profile_tabs/lesson_comments_tab.html' %}
                    {% include 'logika_teachers/teacher_profile_tabs/call_comments_tab.html' %}
                    {% include 'logika_teachers/teacher_profile_tabs/form_comments_tab.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script>-->
<!--    tinymce.init({-->
<!--        selector: 'textarea',-->
<!--        plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',-->
<!--        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',-->
<!--        tinycomments_mode: 'embedded',-->
<!--        tinycomments_author: 'Author name',-->
<!--        mergetags_list: [-->
<!--            {-->
<!--                value: 'First.Name',-->
<!--                title: 'First Name'-->
<!--            },-->
<!--            {-->
<!--                value: 'Email',-->
<!--                title: 'Email'-->
<!--            },-->
<!--        ],-->
<!--        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))-->
<!--    });-->
<!--</script>-->
{% endblock %}