{% load i18n %} {% load static %}
<div class="sidebar__menu-group">
  <ul class="sidebar_nav">
    {% if user_role == "regional_manager" or user_role == "territorial_manager" or user_role == "client_manager" or user_role == "admin"%}
    <li>
      <a href="{% url 'logika_statistics:programming-updated' %}">
        <span class="nav-icon uil uil-create-dashboard"></span>
        <span class="menu-text">Звіт програмування</span>
        <span class="toggle-icon"></span>
      </a>
    </li>
    {% endif %}
    {% if user_role == "regional_manager" or user_role == "territorial_manager" or user_role == "admin"%}
    <li>
      <a href="{% url 'logika_statistics:list-locations' %}">
        <span class="nav-icon uil uil-create-dashboard"></span>
        <span class="menu-text">Перегляд локацій</span>
        <span class="toggle-icon"></span>
      </a>
    </li>
    {% endif %}
  {% if user_role == "regional_manager" or user_role == "territorial_manager" or user_role == "admin"%}
    <li>
      <a href="{% url 'logika_statistics:consolidation-report' %}">
        <span class="nav-icon uil uil-create-dashboard"></span>
        <span class="menu-text">Зведення 1С</span>
        <span class="toggle-icon"></span>
      </a>
    </li>
    {% endif %}
    {% comment %} {% if user_role == "tutor" %}
    <li>
      <a href="">
        <span class="nav-icon uil uil-create-dashboard"></span>
        <span class="menu-text">Мій профіль</span>
        <span class="toggle-icon"></span>
      </a>
    </li>
    {% endif %} {% endcomment %}

  </ul>
</div>
