{% load static %}
<div class="action-btn">
    <a href="{% url 'logika_teachers:tutor-month-report' user.id %}"
       class="btn px-15 btn-primary">
        <i class="las la-plus fs-16"></i>Місячний звіт</a>
    <br>


    <a href="{% url 'logika_teachers:create-teacher' %}" class="btn px-15 btn-primary">
        <i class="las la-plus fs-16"></i>Створити викладача</a>
    <br>

    <a href="{% url 'logika_teachers:tutor-results-report' %}" class="btn px-15 btn-primary">
        <i class="las la-plus fs-16"></i>Звіт по роботі</a>
    <br>
</div>
<div class="row mb-3">
      <div class="col-auto">
          <div class="input-group">
              <label class="input-group-text" for="filter_les_teacher">Викладач:</label>
              <input type="text" class="form-control" placeholder="Викладач" id="filter_teacher" name="les_teacher" value="{{ request.GET.les_teacher }}">
          </div>
      </div>
      <div class="col-auto">
          <div class="input-group">
              <label class="input-group-text" for="filter_status">Статус:</label>
              <select class="form-select form-select-sm text-muted" name="churn_status" id="filter_status">
                    <option value="" selected>-------</option>
                    <option value="relevant">Актуальні</option>
                    <option value="not relevant">Неактуальні</option>
                    <option value="churn">Відвали</option>
              </select>
          </div>
      </div>
      <div class="col-auto">
          <div class="input-group">
              <label class="input-group-text" for="date_from_filter">З:</label>
              <input type="date" class="form-control" id="date_from_filter" name="les_date_from" value="{{ les_date_from }}">
          </div>
      </div>
      <div class="col-auto">
          <div class="input-group">
              <label class="input-group-text" for="date_to_filter">По:</label>
              <input type="date" class="form-control" id="date_to_filter" name="les_date_to" value="{{ les_date_to }}">
          </div>
      </div>
  </div>
<div class="accordion mb-5" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Передбачувані відвали
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <form method="GET" class="row mb-3">
              <div class="col-auto">
                <button type="button" class="btn btn-outline-primary h-75" id="update-churns">
                    Оновити
                </button>
              </div>
          </form>
          <hr class="mt-0 mb-0 border-0">
          <div class="accordion accordion-flush" id="churns1_accordion">
                {# ----------- #}
          </div>
      </div>
    </div>
  </div>
<div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" id="accordion-lessons">
          <span class="me-2">Відкриті уроки</span> <span id="total-groups">Загрузка...</span>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <div class="col-auto">
            <button type="button" class="btn btn-outline-primary h-75 mb-3" id="filter-submit">
                Оновити
            </button>
          </div>
          <hr class="mt-0 mb-0 border-0">
          <table class="table">
              <thead>
                <tr>
                    <th>Назва уроку:</th>
                    <th>Назва групи:</th>
                    <th>Час уроку:</th>
                    <th>Викладач(-ка):</th>
                    <th>Коментарі:</th>
                </tr>
              </thead>
              <tbody id="lessons-table-body">
                {# ----------- #}
              </tbody>
          </table>

      </div>
    </div>
  </div>
</div>
{% for teacher in teachers %}
    <div class="row">
        <div class="col-md-6 col-sm-12 mb-25">
            <div class="media  py-30  ps-30 pe-20 bg-white radius-xl users-list ">

                <img class=" me-20 rounded-circle wh-80 bg-opacity-primary  "
                     src="{% static 'img/author/profile.png' %}"
                     alt="Generic placeholder image">
                <div class="media-body d-xl-flex users-list-body">
                    <div class="flex-1 pe-xl-30 users-list-body__title">
                        <h6 class="mt-0 fw-500">{{ teacher.user.get_full_name }}</h6>
                        <!--                                    <span>Graphic Designer/ UI &amp; UX </span>-->
                        {% for feedback in feedbacks %}
                            {% if feedback.teacher == teacher %}
                                <p class="mb-0">Остання форма ЗЗ: Форма
                                    від {{ feedback.created_at }}</p>
                            {% endif %}
                        {% endfor %}
                        <div class="users-list-body__bottom">
                            <span>
                                <span class="fw-600">Успішність:</span>
                                <span class="score-number"> -% </span>
                            </span>
                            <span class="ms-15">
                                <span class="fw-600">Конверсія: </span> -% </span>
                        </div>
                    </div>
                    <div class="users-list__button mt-xl-0 mt-15">
                        <a href="{% url 'logika_teachers:teacher-profile' teacher.id %}">
                            <button
                                    class="btn btn-primary btn-default btn-squared text-capitalize px-20 mb-10 global-shadow">
                                переглянути профіль
                            </button>
                        </a>
                        <a href="{% url 'logika_teachers:teacher-performance' teacher.id %}">
                            <button
                                    class="btn btn-primary btn-default btn-squared text-capitalize px-20 mb-10 global-shadow">
                                підрахунок успішності
                            </button>
                        </a>
                        {% for feedback in feedbacks %}
                            {% if feedback.teacher == teacher %}
                                <a href="{% url 'logika_teachers:view-forms' feedback.id %}">
                                    <button type="button"
                                            class="border text-capitalize px-25 color-gray transparent shadow2 follow my-xl-0 radius-md">
                                        остання форма
                                    </button>
                                </a>

                            {% endif %}
                        {% endfor %}
                        <button type="button" class="btn btn-primary mt-2" data-toggle="modal"
                                data-target="#exampleModal{{ teacher.id }}">
                            Відв`язати викладача
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal{{ teacher.id }}" tabindex="-1"
                             role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Відв'язка
                                            викладача</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Ви впевнені, що ви бажаєте відв'язати від себе
                                        викладача {{ teacher.user.get_full_name }}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Відмінити
                                        </button>
                                        <a href="{% url 'logika_teachers:unsub-teacher' teacher.id %}">
                                            <button type="button" class="btn btn-primary">
                                                Підтвердити
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    let allLessons = []; // Массив для хранения всех уроков, полученных с сервера
    let accordion_lesson = document.getElementById("accordion-lessons")

    // Функция для загрузки данных с сервера
    async function loadLessons() {
        try {
            let response = await fetch('{% url 'logika_teachers:open-lessons' %}'); // Замените URL на ваш
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            let data = await response.json();
            allLessons = data.open_lessons; // Сохраняем все уроки для дальнейшей фильтрации
            filterAndDisplayLessons();
        } catch (error) {
            console.error('Ошибка при загрузке данных:', error);
        }
    }

    function parseDate(input) {
        let [dayOfWeek, datePart, timePart] = input.split(' ');
        let [day, month, year] = datePart.split('.').map(Number);
        let [hours, minutes] = timePart.split(':').map(Number);
        year += 2000;
        return new Date(year, month - 1, day);
    }

    function parseDateWithoutTime(input) {
        let [year, month, day] = input.split('-').map(Number);
        return new Date(year, month - 1, day);
    }
    function formatDate(date) {
        let day = date.getDate().toString().padStart(2, '0');
        let month = (date.getMonth() + 1).toString().padStart(2, '0');
        let year = date.getFullYear().toString().slice(-2);
        let hours = date.getHours().toString().padStart(2, '0');
        let minutes = date.getMinutes().toString().padStart(2, '0');
        return `${day}.${month}.${year} ${hours}:${minutes}`;
    }

    function filterByDateRange(objects, teacher, dateFrom, dateTo) {
        // Парсинг даты начала и окончания периода
        let from = parseDateWithoutTime(dateFrom);
        let to = parseDateWithoutTime(dateTo);

        return objects.filter(obj => {
            // Парсинг даты объекта
            let objDate = parseDate(obj.start_time_formatted);
            // Фильтрация по диапазону дат
            let teacherMatches = !teacher || obj.teacher.toLowerCase().includes(teacher);
            return objDate >= from && objDate <= to && teacherMatches;
        }).sort((a, b) => {
            // Сортировка по дате от новой к старой
            let dateA = parseDate(a.start_time_formatted);
            let dateB = parseDate(b.start_time_formatted);
            return dateA - dateB;
        });
    }
    async function loadComments(lessonId ,teacherId) {
        try {
            let response = await fetch(`{% url 'logika_teachers:open-lessons-comments' %}?lesson_id=${lessonId}&teacher_id=${teacherId}`); // Замените URL на ваш
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            let data = await response.json();
            return data.comments; // Предполагаем, что в ответе есть массив комментариев
        } catch (error) {
            console.error('Ошибка при загрузке комментариев:', error);
            return [];
        }
    }

    function createCommentCard(comment) {
        let timestamp = new Date(comment.created_at); // Предполагаем, что comment.timestamp - это строка даты
        let formattedDate = formatDate(timestamp);
        return `
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">${formattedDate}</h5>
                    <p class="card-text">${comment.comment}</p>
                </div>
            </div>
        `;
    }
    async function filterAndDisplayLessons() {
        let teacher = document.getElementById('filter_teacher').value.toLowerCase();
        let dateFrom = document.getElementById('date_from_filter').value;
        let dateTo = document.getElementById('date_to_filter').value;
        let filteredLessons = filterByDateRange(allLessons, teacher, dateFrom, dateTo);
        countUniqueGroupIds(filteredLessons);
        // Обновляем таблицу
        let tableBody = document.getElementById('lessons-table-body');
        tableBody.innerHTML = '';

        for (let index = 0; index < filteredLessons.length; index++) {
            let lesson = filteredLessons[index];
            let row = document.createElement('tr');

            let content = `
                <td>${lesson.lesson_title}</td>
                <td><a href="https://lms.logikaschool.com/group/view/${lesson.group_id}">${lesson.group_name}</a></td>
                <td>${lesson.start_time_formatted}</td>
                <td>${lesson.teacher}</td>
                <td>`;
            if (lesson.last_comment === "Коментаря немає") {
                content += `<a type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#lesson${index + 1}comments">
                                        Додати
                                   </a>
                                </td>`;
            } else {
                content += `<a type="button" class="text-primary mb-2" data-bs-toggle="modal" data-bs-target="#lesson${index + 1}comments">
                                        ${lesson.last_comment}
                                   </a>
                                </td>`;
            }
            row.innerHTML = content;

            tableBody.appendChild(row);

            // Добавляем модальное окно для комментариев
            let modal = document.createElement('div');
            modal.className = 'modal fade';
            modal.id = `lesson${index + 1}comments`;
            modal.tabIndex = -1;
            modal.setAttribute('aria-labelledby', `lesson${index + 1}commentsLabel`);
            modal.setAttribute('aria-hidden', 'true');

            // Загрузка комментариев для урока
            let comments = await loadComments(lesson.lesson_id, lesson.teacher_id);
            let commentsHtml = comments.map(createCommentCard).join('');

            modal.innerHTML = `
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="lesson${index + 1}commentsLabel">Коментарі</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'logika_teachers:create-comment' %}" class="mb-3">
                                {% csrf_token %}
                                <textarea name="comment" class="form-control mb-2"></textarea>
                                <input type="hidden" name="group_id"
                                       value="${lesson.group_id}">
                                <input type="hidden" name="next"
                                       value="{{ request.path }}">
                                <input type="hidden" name="comment_type"
                                       value="lesson">
                                <input type="hidden" name="teacher"
                                       value="${lesson.teacher_id}">
                                <input type="hidden" name="lesson_id"
                                       value="${lesson.lesson_id}">
                                <button class="btn btn-primary btn-default btn-squared"
                                        type="submit">
                                    Відправити
                                </button>
                            </form>
                            ${commentsHtml || ''}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                        </div>
                    </div>
                </div>
            `;

            document.body.appendChild(modal);
        }
    }
    function countUniqueGroupIds(filteredLessons) {
        // Создаем Set для хранения уникальных group_id
        const uniqueGroupIds = new Set();

        // Проходим по всем урокам и добавляем group_id в Set
        filteredLessons.forEach(lesson => {
            uniqueGroupIds.add(lesson.group_id);
        });

        // Получаем количество уникальных group_id
        const uniqueCount = uniqueGroupIds.size;

        // Находим div с id total-lessons и отображаем количество уникальных group_id
        const totalGroupsSpan = document.getElementById('total-groups');
        if (totalGroupsSpan) {
            totalGroupsSpan.textContent = ` Кількість груп: ${uniqueCount}`;
        }
    }

    // Загрузка уроков при загрузке страницы
    loadLessons();

    document.getElementById('filter-submit').addEventListener('click', filterAndDisplayLessons);
    let allChurns = []; // Хранение всех данных, полученных с сервера

    // Функция загрузки данных с сервера
    async function loadChurns() {
        try {
            let response = await fetch('{% url 'logika_teachers:get-churns' %}'); // Замените на ваш URL
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            let data = await response.json();
            allChurns = data.churns; // Предположим, что сервер возвращает список churns
            filterChurns(); // Показ всех данных при первой загрузке
        } catch (error) {
            console.error('Ошибка при загрузке данных:', error);
        }
    }

    // Функция фильтрации данных
    function filterChurns() {
        let teacher = document.getElementById('filter_teacher').value.toLowerCase();
        let dateFrom = document.getElementById('date_from_filter').value;
        let dateTo = document.getElementById('date_to_filter').value;
        let status = document.getElementById('filter_status').value;

        let filteredChurns = allChurns.filter(churn => {
            let churnDate = parseDateWithoutTime(churn.created_at);
            let teacherMatches = !teacher || churn.teacher_name.toLowerCase().includes(teacher);
            let dateFromMatches = !dateFrom || churnDate >= parseDateWithoutTime(dateFrom);
            let dateToMatches = !dateTo || churnDate <= parseDateWithoutTime(dateTo);
            let statusMatches = !status || churn.real_status === status;
            return teacherMatches && dateFromMatches && dateToMatches && statusMatches;
        }).sort((a, b) => {
            // Сортировка по дате от новой к старой
            let dateA = parseDateWithoutTime(a.created_at);
            let dateB = parseDateWithoutTime(b.created_at);
            return dateB - dateA;
        }).sort((a, b) => {
            return b.priority - a.priority;
        });

        displayChurns(filteredChurns);
    }

    // Функция отображения данных
    function displayChurns(churns) {
        let accordion = document.getElementById('churns1_accordion');
        accordion.innerHTML = ''; // Очистка перед повторным отображением

        churns.forEach((churn, index) => {
            let commentsHTML = '';

            churn.comments.forEach(comment => {
                commentsHTML += `
                    <div class="card mb-2 border-gray">
                        <div class="card-header">
                            Коментар за ${new Date(comment.created_at).toLocaleString('uk-UA', {
                                day: '2-digit',
                                month: '2-digit',
                                year: '2-digit',
                                hour: '2-digit',
                                minute: '2-digit'
                            })}
                        </div>
                        <div class="card-body">
                            ${comment.description}
                        </div>
                    </div>
                `;
            });
            let commentSection = churn.comment ? `
                <div class="mt-3">
                    <div class="text-dark">Останній коментар:</div>${churn.comment}
                    <a type="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#churn${churn.churn_pk}_comments">
                        ще...
                    </a>
                </div>
            ` : '';
            let item = document.createElement('div');
            item.className = 'accordion-item';
            item.innerHTML = `
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#i${index}" aria-expanded="true" aria-controls="collapseOne">
                        <div class="row">
                            <div class="col-auto">
                                <h4>${churn.priority} ${churn.fullname}</h4>
                            </div>
                            <div class="col-auto text-dark">
                                (${churn.teacher_name})
                            </div>
                            <div class="col-auto text-end">
                                <small class="text-muted">${churn.status}</small>
                            </div>
                            <div class="col-auto text-end">
                                <small class="text-muted">${churn.created_at}</small>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="i${index}" class="accordion-collapse collapse" data-bs-parent="#churns1_accordion">
                    <div class="accordion-body">
                        <form method="POST" class="row justify-content-start">
                          {% csrf_token %}
                          <input type="hidden" value="${churn.churn_pk}" name="churn_pk">
                          <div class="col-2">
                            <label for="churn${churn.churn_pk}priority" class="text-dark">Пріоритетність: </label>
                            <input type="number" class="form-control w-25 ps-1 pe-1" id="churn${churn.churn_pk}priority" value="${churn.priority}" name="priority">

                          </div>
                          <div class="col-3">
                            <label for="churn${churn.churn_pk}status" class="text-dark">Статус: </label>
                            <select class="form-select form-select-sm" name="status" id="churn${churn.churn_pk}status">
                                ${churn.STATUS_CHOICES.map(status => `
                                    <option
                                        ${status[1] === churn.status ? 'selected' : ''}
                                        value="${status[0]}">${status[1]}
                                    </option>
                                `).join('')}
                            </select>
                          </div>
                          <div class="col-6">
                              <label for="churn${churn.churn_pk}description" class="text-dark">Опис:</label>
                              <textarea name="description" id="churn${churn.churn_pk}description" class="form-control">${churn.description}</textarea>
                          </div>
                          <button type="submit" class="btn btn-success justify-content-end mt-3" style="margin-left: 0.6rem!important;">Зберегти</button>
                        </form>
                          <div class="mt-3">
                                ${commentSection}
                                <div class="modal" id="churn${churn.churn_pk}_comments" tabindex="-1" aria-labelledby="churn${churn.churn_pk}_comments" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="churn${churn.churn_pk}_comments">Коментарі</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" id="churn${churn.churn_pk}_comments_body">
                                                ${commentsHTML}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div>

                            <form method="POST" action="{% url 'logika_teachers:create-comment' %}" class="mt-3">
                                {% csrf_token %}
                                <label for="churn${churn.churn_pk}comment" class="text-dark">Коментар:</label>
                                <textarea id="churn${churn.churn_pk}comment" name="comment" class="form-control mb-2"></textarea>
                                <input type="hidden" name="churn" value="${churn.churn_id}">
                                <input type="hidden" name="comment_type" value="predicted_churn">
                                <input type="hidden" name="teacher" value="${churn.teacher_id}">
                                <input type="hidden" name="churn_obj" value="${churn.churn_pk}">
                                <button class="btn btn-primary btn-default btn-squared btn-sm" type="submit">
                                    Відправити
                                </button>
                            </form>

                          <p><a href="/logika-teachers/teacher-profile/${churn.teacher_pk}/" target="_blank">${churn.teacher_name}</a></p>
                    </div>
                </div>
            `;
            accordion.appendChild(item);
        });
    }

    // Загрузка данных при загрузке страницы
    loadChurns();

    // Обработчик кнопки "Upd" для фильтрации данных
    document.getElementById('update-churns').addEventListener('click', filterChurns);
});
</script>