{% extends "layout/app.html" %} {% block title %} Отчеты по программированию
{%endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div style="margin-top: 100px" class="row">
    <div class="col-3">
        <h2>Збирання статистики</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="start_date" class="form-label mt-2 mb-0">Початкова дата</label>
            <input type="date" name="start_date" id="start_date" class="form-control">
            <label for="end_date" class="form-label mt-2 mb-0">Кінцева дата</label>
            <input type="date" name="end_date" id="end_date" class="form-control">
            <button type="submit" class="btn btn-primary mt-3">Зібрати все</button>
        </form>
        <hr>
    </div>
    <div class="col-3">
        <form method="GET">
            <select name="view_start_date" class="form-control">
                {% for date in start_dates %}
                    <option value="{{ date }}" {% if request.GET.view_start_date == date %}selected{% endif %}>{{ date }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Переглянути звіт</button>
        </form>
    </div>
</div>
<div>
    <div class="row">
    <div class="col-auto">
    <h3>Total MK: {{ total_mk }}</h3>
{#    {% for regional, terrotorial in location_data.items %}#}
{#        <b>{{ regional }}</b><br>#}
{##}
{#        {% for ter, location in terrotorial.items %}#}
{#            <small><b>{{ ter }}</b></small><br>#}
{#            {% for loc, records in location.items %}#}
{#                {% if records > 0 %}#}
{#                    <small>{{ loc }} | {{ records }}</small><br>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{#    {% endfor %}#}
    {% for regional, regional_data in location_data.items %}
        <h4>{{ regional }} |  {{ regional_data.0 }}</h4>
        {% for territorial, territorial_data in regional_data.1.items %}
            <b>{{ territorial }} | {{ territorial_data.0 }}</b><br>
            {% for location, locations_count in territorial_data.1.items %}
                <small>{{ location }} | {{ locations_count }}</small><br>
            {% endfor %}
        {% endfor %}
        <hr>
    {% endfor %}
    </div>
    <div class="col-auto">
    <h3>NEW Total MK: {{ new_total_mk }}</h3>
        {% for regional, regional_data in new_location_data.items %}
        <h4>{{ regional }} |  {{ regional_data.0 }}</h4>
        {% for territorial, territorial_data in regional_data.1.items %}
            <b>{{ territorial }} | {{ territorial_data.0 }}</b><br>
            {% for location, locations_count in territorial_data.1.items %}
                <small>{{ location }} | {{ locations_count }}</small><br>
            {% endfor %}
        {% endfor %}
        <hr>
    {% endfor %}
    </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
