{% extends "layout/app.html" %} {% block title %} Отчеты по программированию
{%endblock %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div>
              <!--                            <button type="button" class="btn btn-warning" onclick="document.getElementById('inconsistencies').scrollIntoView();">Несостыковок: <span class="badge badge-light">4</span> Нажмите, чтобы перейти к исправлению</button>-->
              <div>
                <div class="col-sm-12">
                  <hr />
                  {% load replace_space_to_ %} {% load count_conversion %}
                  <form method="POST" action="/programming_updated">
                    {% csrf_token %}
                    <select
                      name="report_scale"
                      id="report_scale"
                      class="form-control"
                      style="width: 250px"
                      onchange="this.form.submit()"
                    >
                      <option value="none" selected disabled hidden>
                        Оберіть період
                      </option>
                      {% for scale in report_scales %}
                      <option value="{{ scale }}">{{ scale }}</option>
                      {% endfor %}
                    </select>
                    <hr />
                  </form>
                  <h3 class="m-0">
                    Програмування. Звіт за {{ report_date_default }}
                  </h3>
                  <br />
                  {% if user_role == "admin" %}
                  <table class="table table-hover">
                    <tr>
                      <th></th>
                      <th>Записано</th>
                      <th>Відвідали</th>
                      <th>Оплат</th>
                      <th>Конверсія</th>
                      <th></th>
                      <th class="text-center"></th>
                    </tr>
                    {% for key, value in ukrainian_totals.items %}
                    <tr>
                      <td>
                        <h6 class="m-0"></h6>
                      </td>
                      <td>
                        <h6 class="m-0">{{ value.enrolled }}</h6>
                      </td>
                      <td>
                        <h6 class="m-0">{{ value.attended }}</h6>
                      </td>
                      <td>
                        <h6 class="m-0">{{ value.payments }}</h6>
                      </td>
                      <td>
                        <h6 class="m-0">{{ value | count_conversion }} %</h6>
                      </td>
                      <td>
                        <h6 class="m-0"></h6>
                      </td>
                    </tr>
                    {% endfor %}
                  </table>
                  {% endif %}
                  <hr />
                  <div class="col-12">
                    <div class="card card-default card-md mb-4">
                      <div class="card-header py-20"></div>
                      <div class="card-body">
                        <div class="tab-wrapper">
                          <div class="dm-tab tab-horizontal">
                            <ul
                              class="nav nav-tabs vertical-tabs"
                              role="tablist"
                            >
                              <li class="nav-item">
                                <a
                                  class="nav-link active"
                                  id="tab-v-1-tab"
                                  data-bs-toggle="tab"
                                  href="#tab-v-1"
                                  role="tab"
                                  aria-selected="true"
                                  >По локації</a
                                >
                              </li>
                              <li class="nav-item">
                                <a
                                  class="nav-link"
                                  id="tab-v-2-tab"
                                  data-bs-toggle="tab"
                                  href="#tab-v-2"
                                  role="tab"
                                  aria-selected="false"
                                  >По КМ</a
                                >
                              </li>
                            </ul>
                            <div class="tab-content">
                              <div
                                class="tab-pane fade active show"
                                id="tab-v-1"
                                role="tabpanel"
                                aria-labelledby="tab-v-1-tab"
                              >
                                {% for manager, tms in managers.items%}
                                {% with outer_loop_counter=forloop.counter %}
                                <div class="card card-default card-md mb-4">
                                  <div class="card-header py-20">
                                    <h6>{{ manager }}</h6>
                                  </div>
                                  <div class="card-body">
                                    <div class="dm-collapse">
                                      {% for tm in tms %}
                                      <div class="dm-collapse-item">
                                        <div class="dm-collapse-item__header">
                                          <a
                                            href="#"
                                            class="item-link collapsed"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapse-body-{{forloop.counter}}{{outer_loop_counter}}"
                                            aria-expanded="false"
                                          >
                                            <i class="la la-angle-right"></i>
                                            <h6>{{tm}}</h6>
                                          </a>
                                        </div>
                                        <div
                                          id="collapse-body-{{forloop.counter}}{{outer_loop_counter}}"
                                          class="dm-collapse-item__body collapse"
                                          style=""
                                        >
                                          <div class="collapse-body-text">
                                            <div class="table4 p-25 mb-30">
                                              <div class="table-responsive">
                                                <table class="table mb-0">
                                                  <thead>
                                                    <tr
                                                      class="userDatatable-header"
                                                    >
                                                      <th>
                                                        <span
                                                          class="userDatatable-title"
                                                          >Локація</span
                                                        >
                                                      </th>
                                                      <th>
                                                        <span
                                                          class="userDatatable-title"
                                                          >Записано</span
                                                        >
                                                      </th>
                                                      <th>
                                                        <span
                                                          class="userDatatable-title"
                                                          >Відвідали</span
                                                        >
                                                      </th>
                                                      <th>
                                                        <span
                                                          class="userDatatable-title"
                                                          >Оплат</span
                                                        >
                                                      </th>
                                                      <th>
                                                        <span
                                                          class="userDatatable-title"
                                                          >Конверсія</span
                                                        >
                                                      </th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    {% for report in location_reports %}
                                                    {% if report.territorial_manager == tm and report.regional_manager == manager %}
                                                    <tr>
                                                      <td>
                                                        <div
                                                          class="userDatatable-content"
                                                        >
                                                          {{report.location_name}}
                                                        </div>
                                                      </td>
                                                      <td>
                                                        <div
                                                          class="userDatatable-content"
                                                        >
                                                          {{report.total_enrolled}}
                                                        </div>
                                                      </td>
                                                      <td>
                                                        <div
                                                          class="userDatatable-content"
                                                        >
                                                          {{report.total_attended}}
                                                        </div>
                                                      </td>
                                                      <td>
                                                        <div
                                                          class="userDatatable-content"
                                                        >
                                                          {{report.total_payments}}
                                                        </div>
                                                      </td>
                                                      <td>
                                                        <div
                                                          class="userDatatable-content"
                                                        >
                                                          {{report.conversion}}%
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                  </tbody>
                                                </table>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      {% endfor %}
                                    </div>
                                  </div>
                                </div>
                                {% endwith %}
                                {% endfor %}
                              </div>

                              <div
                                class="tab-pane fade"
                                id="tab-v-2"
                                role="tabpanel"
                                aria-labelledby="tab-v-2-tab"
                              >
                              {% for manager, tms in managers.items%}
                              {% with outer_loop_counter=forloop.counter %}
                              <div class="card card-default card-md mb-4">
                                <div class="card-header py-20">
                                  <h6>{{ manager }}</h6>
                                </div>
                                <div class="card-body">
                                  <div class="dm-collapse">
                                    {% for tm in tms %}
                                    <div class="dm-collapse-item">
                                      <div class="dm-collapse-item__header">
                                        <a
                                          href="#"
                                          class="item-link collapsed"
                                          data-bs-toggle="collapse"
                                          data-bs-target="#collapse-body-{{forloop.counter}}{{outer_loop_counter}}"
                                          aria-expanded="false"
                                        >
                                          <i class="la la-angle-right"></i>
                                          <h6>{{tm}}</h6>
                                        </a>
                                      </div>
                                      <div
                                        id="collapse-body-{{forloop.counter}}{{outer_loop_counter}}"
                                        class="dm-collapse-item__body collapse"
                                        style=""
                                      >
                                        <div class="collapse-body-text">
                                          <div class="table4 p-25 mb-30">
                                            <div class="table-responsive">
                                              <table class="table mb-0">
                                                <thead>
                                                  <tr
                                                    class="userDatatable-header"
                                                  >
                                                    <th>
                                                      <span
                                                        class="userDatatable-title"
                                                        >КМ</span
                                                      >
                                                    </th>
                                                    <th>
                                                      <span
                                                        class="userDatatable-title"
                                                        >Записано</span
                                                      >
                                                    </th>
                                                    <th>
                                                      <span
                                                        class="userDatatable-title"
                                                        >Відвідали</span
                                                      >
                                                    </th>
                                                    <th>
                                                      <span
                                                        class="userDatatable-title"
                                                        >Оплат</span
                                                      >
                                                    </th>
                                                    <th>
                                                      <span
                                                        class="userDatatable-title"
                                                        >Конверсія</span
                                                      >
                                                    </th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  {% for report in client_manager_reports %}
                                                  {% if report.territorial_manager == tm and report.regional_manager == manager %}
                                                  <tr>
                                                    <td>
                                                      <div
                                                        class="userDatatable-content"
                                                      >
                                                        {{report.client_manager}}
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div
                                                        class="userDatatable-content"
                                                      >
                                                        {{report.total_enrolled}}
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div
                                                        class="userDatatable-content"
                                                      >
                                                        {{report.total_attended}}
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div
                                                        class="userDatatable-content"
                                                      >
                                                        {{report.total_payments}}
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div
                                                        class="userDatatable-content"
                                                      >
                                                        {{report.conversion}}%
                                                      </div>
                                                    </td>
                                                  </tr>
                                                  {% endif %}
                                                  {% endfor %}
                                                </tbody>
                                              </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    {% endfor %}
                                  </div>
                                </div>
                              </div>
                              {% endwith %}
                              {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="inconsistencies"></div>
                </div>
              </div>
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
