{% extends 'layout/app.html' %}

{% block title %} Головна {% endblock %}

{% load i18n %}

{% load static %}

{% block content %}
<div class="dm-page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">Головна</h4>
                    <h4 class="text-capitalize breadcrumb-title">Вітаю, {{user.get_full_name}}</h4>
                </div>
            </div>
            <div class="col-lg-6">
                {%if user_role == "teacher" %}
                {% for tutor in tutors%}
                    <h1>{{tutor.user.get_full_name}}</h1>
                {% endfor %}
                {% elif user_role == "tutor" %}
                <a href="{% url 'logika_teachers:create-teacher'%}">Створити викладача</a>
                    {% for teacher in teachers %}

                        <a href="{% url 'logika_teachers:teacher-profile' teacher.id %}"><h1>{{teacher.user.get_full_name}}</h1></a>
                    {% endfor %}
                {%endif%}
            </div>
        </div>
    </div>
</div>
{% endblock %}